Source: ros-jazzy-openvino-yolov8-msgs
Section: utils
Priority: optional
Maintainer: ECI Maintainer <eci.maintainer@intel.com>
Build-Depends: cmake, debhelper (>=11~), ros-jazzy-ament-cmake, ros-jazzy-ament-lint-common,ros-jazzy-std-msgs, ros-jazzy-tf2-msgs ,ros-jazzy-sensor-msgs
Standards-Version: 4.1.4

Package: ros-jazzy-openvino-yolov8-msgs
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, ros-jazzy-std-msgs, ros-jazzy-tf2-msgs ,ros-jazzy-sensor-msgs
Description: Yolov8 Openvino ROS2 Harness Messages
